/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

# Test/debug scripts
test_*.cr
test_*_release

# Temporary files
/temp/

# Compiled executables
/cmap
/pdfbox
/resources/

# Backup files
*.bak
*.backup

# Temporary directories
cff_parser/
